@use "variables" as *;
@use "mixin" as *;

/* RESERVAS */
/* SEÇÃO TIPO DE ACOMODAÇÃO */
.secao-tipo-acomodacao {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  input {
    accent-color: $primary-green;
  }

  .preco {
    font-weight: bold;
    color: black;
  }

  p {
    margin: 1rem 0;
    color: $paragraph-gray;
  }
}

.container {
  &-tipo-acomodacao {
    flex: 2;
  }

  &-titulos-acomodacao img {
    flex: 1 0 30%;
    width: 30%;
    border-radius: 10px;
  }

  &-resumo-reserva {
    border: 1px solid $secondary-green;
    border-radius: 10px;
    padding: 1rem;
    background: #eff5f0;
    height: auto;
    margin-top: 2.7rem;
    flex: 1;

    .btn {
      width: 100%;
      margin-top: 4rem;
    }

    .container-listas {
      font-weight: bold;
    }
  }

  &-listas {
    li {
      margin: 1rem 0;
    }

    .preco-total {
      text-align: right;
    }

    .add-servicos {
      border-top: 1px solid #eae6d9;
      border-bottom: 1px solid #eae6d9;
      padding-top: 1rem;
      padding-bottom: 5rem;
    }
  }
}

.item {
  &-check {
    display: none;
    padding: 5rem 0;
  }

  &-label {
    display: flex;
    flex: 1;
    border: 1px solid $secondary-green;
    border-radius: 10px;
    padding: 1rem;
    background: #fff;
    margin: 1rem 0;
    gap: 1rem;

    img {
      object-fit: cover;
    }
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid $secondary-green;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.item-check:checked ~ label div {
  background-color: #eff5f0;
  color: $secondary-green;
}

.item-check:checked ~ label .circle .checkmark {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: $secondary-green;
}

.flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right-reserva {
  width: 100%;
}

.card-inputs {
  display: flex;
  flex-direction: column;

  p {
    margin: 1rem 0;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  margin-bottom: 2rem;

  label {
    color: #686b68;
    font-weight: 700;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1024px) and (orientation: portrait) {
  .item-label {
    flex-direction: column;
  }
}

@media (max-width: 915px) {
  .container {
    &-titulos-acomodacao img {
      width: 100%;
    }

    &-resumo-reserva {
      width: 100%;
    }
  }
  .secao-tipo-acomodacao {
    flex-direction: column;
  }
  .item-label {
    flex-direction: column;
  }

  .input-group {
    width: 100%;
  }
}

@media (max-width: 414px) and (orientation: portrait) {
  .secao-tipo-acomodacao {
    display: block;
  }

  .container-titulos-acomodacao img {
    width: 100%;
  }
  .input-group {
    width: 100%;
  }
}
/* FIM RESERVAS */
